
body{
    background-size:auto;
    background-image: url('../images/background.jpg');
    font-family: 'Maiden Orange', cursive;
}
.jumbotron{
    background-size: 100%;
    background-image: url('../images/Avenger.png');
    height: 500px;
}

.lead{
    text-align: center;
    font-size:30px;
    color:rgb(236, 206, 32);
    background-color:black;
}

.form-p{
    color:rgb(236, 206, 32);
    font-size:25px;
    
}

#add-charactor:hover ,.charactor-btn:hover {
    background-color:rgb(199, 9, 228);
    border-color: rgb(25, 28, 235);
  
    
}
#btn-view{
    color: black;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    
}

.charactor-btn{
    color: black;
    background-color: indianred;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    
}


#charactor-input{
    margin-left: 15px;
    border-color: rgb(51, 8, 241);
}

#add-charactor{
    color: black;
    background-color: rgb(11, 225, 193);
    margin-left: 15px;
}

.pRating{
    font-size: 20px;
    margin:10px;
    color:rgb(236, 206, 32);
}


/*
  These rules take effect when the browser's width
  is either 1198px or less.
*/
@media screen and (max-width: 1198px){
    .jumbotron{
        background-size:cover;
        height: 420px;
        width:100%;
    }
}

/*
  These rules take effect when the browser's width
  is either 991px or less.
*/
@media screen and (max-width: 991px){
    .jumbotron{
        background-size:cover;
        height: 305px;
        width:100%;
        
    }
}

/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px){
    .jumbotron{
        background-size:cover;
        height: 230px;
        width:100%;
    }
}